body {
	/*background-color: #fff;*/
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	
}

.wrapper {
	width: 950px;
	/*padding: 0 40px;*/
	margin: 0 auto;
}

header {
	/*position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;*/
}

.header-wrap-bg {

	height: 80px;
	background-color: #000;
	-webkit-background-size: contain;
	background-size: contain;
}

.header-wrap {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo a {
	padding-top: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 49px;
	color: #ffffff;
	font-family: Dynalight, curcive;
	font-size: 50px;
	font-weight: 400;
	line-height: 30px;
	letter-spacing: -2.5px;
}

.logo span {
	color: #c52e02;
}

.navigation {
	padding-top: 20px;
}

.menu {
	list-style: none;
	display: flex; 
}

.menu_item {
	margin-left: 40px;
	position: relative;
}

.menu_link {
	height: 13px;
	color: #ffffff;
	font-family: "Arial MT";
	font-size: 14px;
	font-weight: 400;
	line-height: 30px;
}

.menu_link:hover {
	color: #c52e02;
}

.banner {
	height: 560px;
	background: url(../img/bg.png) no-repeat center top;
	background-size: cover;
}

/*TEXT SLIDER*/

#text_slide1, #text_slide2, #text_slide3, #text_slide4, #text_slide5{
    position: absolute;
    display: flex; 
    left: 0px;
    opacity:0;
}

.text-slider {
	position: absolute;
    width: 750px;
    top: 100px;
    margin-left: 100px;
    /*left: 30%;*/


	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
	text-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
	color: #ffffff;
	font-family: Dynalight;
	font-size: 60px;
	font-weight: 400;
	line-height: 50px;
}

.text-slider p{
	color: #000000;
}

/*IMG-SLIDER*/

.image-slider {
	/*margin-left: 25%;*/
	padding-top: 110px;
}

#img_wrapper {
    width: 2880px;
    position: relative;
    left: 0px;
    transition: left .5s ease-in-out;
}
.content {
    float: left;
    width: 960px;
    height: 490px;
    white-space: normal;
    background-repeat: no-repeat;
}
#itemOne {
    background-image: url("../img/1.png");
}
#itemTwo {
    background-image: url("../img/2.png");
}
#itemThree {
    background-image: url("../img/3.png");
}

#contentContainer {
    width: 960px;
    height: 490px;
    overflow: hidden;
}

#navLinks {
    text-align: center;
    width: 960px;
	position: relative;
    top: -70px;
}
    #navLinks ul {
        margin: 0px;
        padding: 0px;
        display: inline-block;
        margin-top: 6px;
    }
        #navLinks ul li {
                float: left;
			    text-align: center;
			    margin: 10px;
			    list-style: none;
			    cursor: pointer;
			    background-color: #cdcdcd;
			    padding: 9px;
			    border-radius: 50%;
			    border: #ffffff 3px solid;
			    box-shadow: 0 0 4px #000000;
			}
            #navLinks ul li:hover {
                background-color: #FFFF00;
            }
            #navLinks ul li.active {
                background-color: #d23902;
                color: #FFFFFF;
                outline-width: 7px;
            }
                

.wrapper_banner_img {
	margin-top: 55px;
	width: 960px;
    position: relative;
    left: 0px;
}

.banner_img {
	float: left;
    width: 317px;
    height: 177px;
    /*white-space: normal;*/
    background-repeat: no-repeat;
}

#banner1 {
	margin-right: 4px;
	background-image: url("../img/banner1.png");
}

#banner2 {
	margin-right: 4px;
	background-image: url("../img/banner2.png");
}

#banner3 {
	background-image: url("../img/banner3.png");
}




.content_info {
	width: 960px;
    position: relative;
    left: 0px;
    top:40px;
    margin-bottom: 50px;
}

.table {
	margin-left: 20px;
}

ul {
	list-style-image: url("../img/list.png");
}

.table_id {
	float: left;
    white-space: normal;
	color: #7f7f7f;
	font-family: "Arial MT";
	font-size: 13px;
	font-weight: 400;
	line-height: 30px;
}

.table_wrap {
	float: left;
    width: 255px;
    max-height: 310px;
    white-space: normal;
    margin-right: 75px;
}

.serv {
	display: flex;
	margin-left: -15px;
	margin-bottom: 30px;
	height: 19px;
	color: #404040;
	font-family: "Arial MT";
	font-size: 24px;
	font-weight: 400;
	line-height: 30px;
	/* Text style for "Our Servic" */
	letter-spacing: -0.6px;
}

.about {
	height: 250px;
}

.about-wrap {
	width: 600;
	height: 245;
}

#st1 {
	margin-bottom: 25px;
	color: #404040;
	font-family: "Arial MT";
	font-size: 24px;
	font-weight: 400;
	line-height: 30px;
	/* Text style for "About the" */
	letter-spacing: -0.6px;
}

#nd2 {
	margin-top: 25px;
	color: #769e02;
	font-family: "Arial - Bold MT";
	font-weight: 700;
	line-height: 25px;
}

#rd3 {
	margin-top: 25px;
	color: #7f7f7f;
	font-family: "Arial MT";
	font-size: 13px;
	font-weight: 400;
}

#th4 {
	margin-top: 25px;
	color: #7f7f7f;
	font-family: "Arial MT";
	font-size: 13px;
	font-weight: 400;
	margin-bottom: 14px;
}

.underline {
	text-decoration: underline;
}

.btn {
	display: inline-block;
    /* align-items: center; */
    margin-top: 30px;
    background-color: #7da402;
    color: #fff;
    width: 100px;
    height: 40px;
    padding-top: 5px;
    text-align: center;
    /* justify-content: center; */
    /* height: 10px; */
    font-family: "Arial MT";
    font-size: 13px;
    font-weight: 400;
    line-height: 30px;
    text-decoration: none;
}

.btn:hover {
	background-color: #d53b03;
	color: #fff;
	text-decoration: none;
}

.footer {
	height: 100px;
	background-color: #000;
	/*-webkit-background-size: contain;
	background-size: contain;*/
	/*position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1rem;*/
	/*background-color: #efefef;*/
	text-align: center;
	margin-top: 340px;
}

.footer p {
	color: #fff;
	font-family: "Arial MT";
	font-size: 14px;
	font-weight: 400;
	line-height: 25px;
}

#f1 {
	padding-top: 20px;
}

#fr {
	color: #c42e02;
}